# question1 =Expression is made up of values, containers, and mathematical operators (operands) and the statement is just like a command that a python interpreter executes like print.

   * is an expression
   'hello' is a string so it is a value
    -87.8 is a floating point number is it is also a value
    - is an expression
    / is an expression
    + is an expression
    6 is an integer it is also a value

#question 2  What is the difference between string and variable?
variable -> Variables are containers for storing data values.
            Python has no command for declaring a variable.
            A variable is created the moment you first assign a value to it.
string -> string is a datatype .
          Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [4]:
# example for the variable.
# and string example is Shubham
x = 5
y = "Ram"
print(x)
print(y)

5
Ram

# Question3 -Describe three different data types.
   integer -> to type case into integer we use int()
   float    -> to type case into float we use float()
    string   -> to type case into string we use str()

In [6]:
a='10'
a=type(a)

In [8]:
#typecast into int from string
a=int(a)
type(a)

int

In [9]:
#typecast into float from integer
a=float(a)
type(a)

float

In [10]:
#typecast into string from float
a=str(a)
type(a)

str

#question 4 -> What is an expression made up of? What do all expressions do?

        expression-> An Expression is a sequence or combination of values, variables, operators and function calls that always produces or returns a result value.
        Expression is made up of values,variables,operators and function.
        The evaluation of an expression does not changes state and produces at least one value as a result.

#question 5-> This assignment statements, like spam = 10. What is the difference between an expression and a statement?
           Expression is made up of values, containers, and mathematical operators (operands) and the statement is just like a command that a python interpreter executes like print.

In [11]:
#question 6-> After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
print(bacon)
#we are not putting the value back to any variable so bacon will remains same

22

In [12]:
#question 7->What should the values of the following two terms be?
print('spam' + 'spamspam')
# it will concanate both the string
print('spam' * 3)
# it will make 3 same type of string of same type

spamspamspam
spamspamspam

In [14]:
#question 8->Why is eggs a valid variable name while 100 is invalid?
eggs=10
print(eggs)
# eggs is a valid variable beacue variable can start will alphabate 
#but in case of 100 as a variable name variable name can't start with numeric values

10

In [16]:
100=10
# error  cannot assign to literal

SyntaxError: cannot assign to literal (Temp/ipykernel_26520/1523788895.py, line 1)

In [18]:
#question 9-> What three functions can be used to get the integer, floating-point number, or string version of a value?

int()
float()
str()
#to see the example refer question number 3

''

In [19]:
# question 10-> Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
#  can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [20]:
# to overcome it error we can make 99 as string
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'